*{
	box-sizing: border-box;
}

body{
	background-color: #BE90D4;
}

.col-1 {width: 5.81%;}
.col-2 {width: 12.5%;}
.col-3 {width: 18.75%;}
.col-4 {width: 25%;}
.col-5 {width: 31.25%;}
.col-6 {width: 37.5%;}
.col-7{width: 43.75%;}
.col-8 {width: 50%;}
.col-9 {width: 56.25%;}
.col-10 {width: 62.5%;}
.col-11 {width: 68.75%;}
.col-12 {width: 75%;}
.col-13 {width: 81.25%;}
.col-14 {width: 87.5%;}
.col-15 {width: 93.75%;}
.col-16 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    display: inline-block;
   	margin: 1px;
    border: 1px solid #34495E;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.header{
	width: 50%;
	margin: 20px auto;
	background-color: #E9D460;
	border: 1px solid red;
}

.header, h1{
	text-align: center;
	font-size: 1.5em;
	color: #EB9532;
	padding: 10px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	
	margin: 20px auto;
	padding: 20px;
	border: 5px solid #96281B;
}

.erase{
	width: 25%;
	margin: 0 auto;
	text-align: center;
}

button{
	padding: 5px;
	background-color: #FDE3A7; 
}